header {
  position: sticky;
  width: 100%;
  top: 0;
  padding: 1rem;
  background-color: #fff;
  z-index: 2;
}

a {
  color: #000;
}

a.active { 
  color: #FF3877;
}

nav ul {
  display: flex;
  gap: 2rem;
}

a.btn-finishSession {
  color: #fff;
  background-color: #363636;
  padding: 0.4rem;
  border-radius: 1rem;
  transition: .4s;
  cursor: pointer;
}

a.btn-finishSession:hover {
  background-color: #000000;
}