* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    all: unset;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}
