main {
  width: 80%;
  margin: 1rem auto;
}

main div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 1rem;
}

main div a {
  text-align: center;padding: 1rem 0;
  transition: .4s;
}

main  div a:hover {
  filter: brightness(80%);
}

.fb {
  background-color: #1877F2;
  color: #fff;
}
.wa {
  background-color: #25D366;
  color: #fff;
}
.dr {
  background-color: #7289DA;
  color: #fff;
}
.tl {
  background-color: #0088CC;
  color: #fff;
}
