main {
  margin: 2rem auto;
  width: 50%;
}

main a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem;
  border-top: .1rem solid #8b8b8b;
  border-bottom: .1rem solid #8b8b8b;
}

main label,input {
  cursor: pointer;
}