body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: auto;
}

.diary-list {
  display: flex;
  margin: 10rem auto;
  width: 60%;
  background-color: #b3093f;
  padding: 1rem 0.5rem;
}

.diary-list a {
  display: flex;
  color: #fff;
  justify-content: space-between;
  width: 100%;
}

.diary-list-title {
  font-weight: bold;
  font-size: 1.2em;
}

.write {
  padding: 0.5rem 0;
  background-color: #b3093f;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}

.write:hover {
  filter: brightness(80%);
}

#diaryTitle {
  text-align: center;
  background-color: #f0f0f0;
  padding: 0.7rem 0.3rem;
  font-weight: bold;
  font-size: 1.3em;
}

#diaryContent {
  background-color: #f0f0f0;
  padding: 1rem;
}

.save {
  padding: 0.5rem;
  background-color: #b3093f;
  text-align: center;
  color: #fff;
  transition: all 0.4s ease;
}

.save:hover {
  filter: brightness(80%);
}
