body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: auto;
}

.field-feelings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  margin: auto;
}

.field-feelings a.feeling {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 20rem;
  height: 10rem;
  background-color: #808080;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  border-radius: 0.9rem;
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.field-feelings a.feeling::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #000000de, transparent);
}

.field-feelings a.feeling:hover {
  transform: scale(1.1);
}

.field-feelings a.feeling span {
  margin-bottom: 1rem;
  z-index: 2;
  font-size: 1.2em;
  font-weight: 600;
}

/*wallpapers*/

.happy {
  background-image: url("../assets/images/foto-mulher-seugrando-a-mao-na-cabeca.jpg");
}
.sad {
  background-image: url("../assets/images/mulher-triste.jpg");
}
.angry {
  background-image: url("../assets/images/homem-raiva.jpg");
}
.anxiety {
  background-image: url("../assets/images/mulher-ansiedade.jpg");
}
.depression {
  background-image: url("../assets/images/deitada-triste.jpg");
}
.motivation {
  background-image: url("../assets/images/girl-training-box.jpg");
}
