* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

a,
button,
ul,
input {
  all: unset;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-size: 1.6rem;
  background: #ff3877 url("../assets/images/mulher-confiante-olhando-para-frente.jpg") no-repeat center
    center;
  background-size: cover;
  color: #fff;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000006c;
}

main {
  z-index: 1;
  margin: auto;
  width: 50%;
  font-size: 1.9em;
}

.links {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  gap: 2rem;
}

p {
  text-align: center;
  font-size: 1em;
}

.links a {
  text-align: center;
  background-color: #ff3877;
  cursor: pointer;
  transition: .4s;
}
.links a:last-child {
  text-align: center;
  background-color: #5e132b;
}
.links a:hover {
  text-align: center;
  background-color: #5e132b;
  cursor: pointer;
}
.links a:last-child:hover {
  text-align: center;
  background-color: #ff3877;
}
