body {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.field-form {
  margin: auto;
  width: 40%;
}

.logo {
  text-align: center;
}

.logo img {
  width: 5rem;
  margin: auto;
}

.field-form form {
  display: flex;
  flex-direction: column;
}

.field-input {
  display: flex;
  flex-direction: column;
}

.field-input input {
  border: 0.1rem solid #ccc;
  padding: 0.5rem;
}

p a {
  color: #b3093f;
  cursor: pointer;
}

button {
  padding: 0.5rem;
  background-color: #b3093f;
  text-align: center;
  color: #fff;
  transition: all .4s ease;
}

button:hover {
  filter: brightness(80%);
}